:root {
    --bg: grey;
    --focus: #C589E8;
}

button:enabled {
    cursor: pointer;
}

body, input, button {
    font-family: 'Space Mono', monospace;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 .25rem var(--focus);
}

h3 {
    margin-bottom: 0;
}

.background-color{
    background-color: var(--bg); 
}

.app--content {
    margin-top: 4em;
}

.related-artists--ul__style {
    list-style-type: none;
}

.related-artists--h3 {
    background-color: var(--bg);
    display: inline;
    border-radius: 10px 10px 0  0;
    padding: 0 0.5em;
}

.related_artists--btn {
    border: none;
    color: white;
    background-color: black;
    border-radius: 1000px;
    margin-left: 1em;
    margin-top: 0.5em;
    padding: 0.25em 0.5em;
}

.artist-summary {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-left: 1.5em;
    align-items: center;
    margin-bottom: 1em;
} 

.artist-summary--p__margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
    font-size: xx-large;
}

.artist-summary--img__circle {
    border-radius: 50%;
    max-width: 7rem;
    max-height: 7rem;
    object-fit: cover;
    border: 0.25em solid black;
}

.searchbar {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255, 0.6);
}

.searchbar--btn {
    border-radius: 0 50px 50px 0;
    border: 0.25em solid black;
    color:white;
    background-color: black;
    padding: 0.25em;
}

.searchbar--input {
    border-radius: 50px 0 0 50px;
    border: 0.25em solid black;
    padding: 0.25em;
}
