:root {
    --bg: grey;
    --focus: #C589E8;
}

button:enabled {
    cursor: pointer;
}

body, input, button {
    font-family: 'Space Mono', monospace;
}

/* *:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
} */

h3 {
    margin-bottom: 0;
}

.background-color{
    background-color: var(--bg); 
}

.app--content {
    margin-top: 0.25em;
}

.related-artists--ul__style {
    list-style-type: none;
    margin-top: 0;
    padding: 1em;
}

.related-artists--h3 {
    background-color: var(--bg);
    display: inline;
    border-radius: 10px 10px 0  0;
    padding: 0 0.5em;
}

.related_artists--btn {
    border: none;
    color: white;
    background: linear-gradient(135deg, #000000 0%, #434343 100%);
    border-radius: 1000px;
    margin-left: 1em;
    margin-top: 0.5em;
    padding: 0.25em 0.5em;
    transition: all 0.3s ease-in-out;
}

.related_artists--btn:hover,
.related_artists--btn:focus {
    outline: none;
    transform: scale(1.1);
    background: linear-gradient(135deg, #414345 25%, #000000 100%);
}

.artist-summary {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-left: 1.5em;
    align-items: center;
    margin-bottom: 1em;
} 

.artist-summary--details {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.artist-summary--title {
    font-size: xx-large;
    margin: 0;
    margin-left: 0.7em;
}

.artist-summary--img__circle {
    border-radius: 50%;
    object-fit: cover;
    width: 7rem;
    height: 7rem;
    border: 0.25em solid black;
}

.circle {
    width: 7rem;
    height: 7rem;
    border: 0.25em solid black;
    background-color: black;
    border-radius: 50%;
}

.searchbar {
    --size: 2.5em;
    border: 2px solid black;
    display: flex;
    border-radius: 100vh;
    height: var(--size);
    padding: 0.25em;
    width: var(--size);
    position: relative;
    transition: width 300ms ease-in-out;
    overflow: hidden;
    transition: 300ms cubic-bezier(0.18,0.89,0.32,1.05);
}

.searchbar--input {
    flex-grow: 1;
    font-size: 1rem;
    padding: 0 0.5em;
    border:0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: calc(var(--size) - 0.3em);
    opacity: 0;
    cursor: pointer;
    background-color: transparent;

}

.searchbar--input:focus {
    outline: 0;
    background: transparent;
}

.searchbar--btn {
    font-size: 1rem;
    border: 0;
    background: transparent;
    border-radius: 100vh;
    width: calc(var(--size) - 0.01em);
    height: calc(var(--size) - 0.01em);
    margin-left: auto;
    transition: background 150ms ease-in-out;
    color: hotpink;
}

.searchbar:focus-within {
    width: 100%;
    background: linear-gradient(to right, #232526, #414345);
    
}

.searchbar:focus-within .searchbar--btn {
    background: hotpink;
    color: white;
}

.searchbar:focus-within .searchbar--btn:focus,
.searchbar:focus-within .searchbar--btn:hover {
    outline:0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

.searchbar:focus-within .searchbar--input {
    opacity: 1;
    cursor: initial;
    width: calc(100% - 2*var(--size));
    border-radius: 100vh;
    color: palegreen;
}

.searchbar--container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.searchbar-suggestions--ol {
    display: flex;
    list-style-type: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.searchbar-suggestions--button {
   display: flex;
   position: relative;
   border: none;
   color: black;
   border-radius: 100vh;
   padding: 0;
   transition: all 0.3s ease-in-out;
   text-align: center;
   overflow: hidden;
}

.searchbar-suggestions--button:focus,
.searchbar-suggestions--button:hover {
    outline:none;
    transform: scale(1.1);
}

.searchbar-suggestions--img__circle {
    filter: grayscale(100%);
    transition: filter .5s ease-in-out;
    border-radius: 50%;
    object-fit: cover;
    width: 7rem;
    height: 7rem;
    opacity: 0.6;
    overflow: hidden;
    border: black solid 0.4em;
}

.searchbar-suggestions--button:focus .searchbar-suggestions--img__circle,
.searchbar-suggestions--button:hover .searchbar-suggestions--img__circle{
    opacity: 1;
    filter: grayscale(0%);
}

.searchbar-suggestions--artistname {
    position: absolute;
    font-size: large;
    color: black;
    background-color: rgba(255, 0, 106, 0.5);
    padding: 0.25em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.searchbar--container:focus-within .searchbar-suggestions--ol {
    opacity: 1;
    justify-content: space-evenly;
}

.searchbar-no-results {
    opacity: 0;
}

.searchbar--container:focus-within .searchbar-no-results {
    opacity: 1;
}

.album {
    display: flex;
    flex-direction: row;
    background-color:  rgba(255, 0, 106, 0.5);;
    align-items: center;
    padding: 0 1em;
    border-radius: 100vh;
    color: white;

}

.album--image {
    width: 3em;
    height: 3em;
    margin: 0.5em; 
}

.album--p {
    margin: 0;

}

.album--p__song-name {
    font-size: medium;

}

.album--p__album-name {
    font-size: smaller;
    font-style: italic;
    color: palegreen;

}